<h1><%= @league_name %></h1>
<%= erb :post %>

<div class="post">
  <% @ncaab_posts.each do |post|%>
    <p>
      <%= post["post"]%>
      <%= post["tags"]%>
      <%= post["time"]%>
    </p>
  <%end%>
</div>

